/*  ================================================
	Icon-Works
	================================================ */

/* Icon elements and styling */
.icons {
	margin-left:10px;
	margin-right:10px;
}

/* Icon sizing */
.icons.huge {
	font-size:60px;
}

.icons.medium-huge {
	font-size:50px;
}

.icons.medium {
	font-size:40px;
}

.icons.medium-small {
	font-size:30px;
}

.icons.small {
	font-size:20px;
}

.icons.tiny {
	font-size:15px;
	margin-left:5px;
	margin-right:5px;
}

@font-face {
	font-family:'icon-worksregular';
	src: url('../fonts/icon-works-webfont.eot');
	src: url('../fonts/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icon-works-webfont.woff') format('woff'),
		 url('../fonts/icon-works-webfont.ttf') format('truetype'),
		 url('../fonts/icon-works-webfont.svg#icon-worksregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.iconworks:before {
	content:attr(data-icon);
	font-family:'icon-worksregular';
}